@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
}
*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
hr{
    height: 1px;
    background-color:rgb(231, 231, 231);
    border: none;
}
button{
    outline: none;
}
.clearfix{
    clear: both;
}
section i{
    margin-right: 20px;
}

/* NAVIGATION BAR */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(29, 133, 252);
    z-index: 10;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline-block;
}
nav li a{
    display: inline-block;
    padding: 12px 20px;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
}
nav .home{
    background-color: rgb(25, 60, 100);
}
.home i{
    margin-right: 20px;
}
nav li a.home:hover{
    background-color: lightgray;
}
nav li a:hover{
    background-color: white;
    color: black;
}
/* NAVIGATION BAR end */

/* LAYOUT STYLE */
.container{
    margin: auto;
    margin-top: 70px;
    max-width: 1200px;
}
aside, main{
    float: left;
}
aside.left{
    width: 25%;
}
main{
    width: 55%;
}
aside.right{
    width: 20%;
}
.profile-block, .interests, main section, aside.right section{
    border-radius: 4px;
}
.profile-block, .misc-block, .interests, main section, aside.right section{
    box-shadow: 0 0 4px rgb(189, 189, 189);
}
section{
    background-color: white;
}
/* LAYOUT end */

/* LEFT ASIDE STYLES */
aside section{
    margin-bottom: 20px;
}
/* profile-block style */
.profile-block{
    background-color: white;
    padding: 20px;
}
.profile-image > *{
    margin-bottom: 15px;
}
.profile-image{
    text-align: center;
}
.profile-image img{
    width: 100px;
    border-radius: 50%;
}
.common-info{
    font-size: 0.8em;
}
.common-info i{
    color: gray;
}
.common-info ul{
    margin-top: 15px;
    list-style-type: none;
}
.common-info li + li{
    margin-top: 15px;
}
/* profile-block end */

/* misc-section styles */
.cell{
    font-size: 0.8em;
}
.cell .title{
    background-color: rgb(29, 133, 252);
    color: white;
    padding: 10px 20px;
}
.cell .title:hover{
    color: black;
    background-color: lightgray;
    cursor: pointer;
}
.cell .content-block{
    padding: 10px 20px;
}
/* misc-section end */

/* photoos section style */
.grid-photos{
    text-align: center;
}
.grid-photos img{
    width: 44%;
    margin-left: 2%;
    margin-bottom: 2%;
}
/* photos section end */

/* interest section style */
.interests{
    padding: 20px;
    font-size: 0.8em;
}
.interests p{
    margin-bottom: 15px;
}
.interests span{
    display: inline-block;
    padding: 2px 4px;
    color: white;
    font-size: 0.9em;
    margin-top: 3px;
}
span.pr{
    background-color: rgb(36, 87, 182);
}
span.sc{
    background-color:  rgb(16, 132, 240);
}
span.th{
    background-color: rgb(156, 156, 156);
    color: black;
}
span.fo{
    background-color: lightgray;
    color: black;
}
span.fi{
    background-color: rgb(205, 212, 212);
    color: black;
}
span.si{
    background-color: rgb(214, 231, 236);
    color: black;
}
/* interest section end */

/* find-who style */
.find-who{
    position: relative;
    padding: 20px;
    font-size: 0.8em;
    background-color: rgb(207, 217, 224);
    border-radius: 3px;
    border: 1px solid rgb(170, 177, 182);
    overflow: hidden;
}
.find-who .title{
    font-weight: 900;
    margin-bottom: 10px;
}
.close-btn{
    position: absolute;
    padding: 5px 15px;
    top: 0;
    right: 0;
    background-color: rgb(159, 178, 187);
}
.close-btn:hover{
    background-color: lightgray;
    cursor: pointer;
}
/* find-who end */
/* LEFT ASIDE end */

/*  MAIN SECTION */
/* status-block */
main section{
    padding: 20px 20px 10px 20px;
    margin: 0 15px 15px 15px;
}
.status input{
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    font-size: 0.8em;
    outline: none;
}
main button{
    padding: 10px 15px;
    color: white;
    background-color: rgb(29, 133, 252);
    border: none;
    cursor: pointer;
}
main button:hover{
    background-color: lightgray;
    color: black;
}
main button i{
    margin-right: 10px;
}
main .buttons-block{
    margin-top: 10px;
}
/* status-block end */

/* post section  */
.post{
    position: relative;
}
.time{
    position: absolute;
    right: 0;
    color: gray;
    font-size: 0.8em;
}
.user{
    position: relative;
}
.user img{
    width: 60px;
    border-radius: 50%;
    vertical-align: middle;
}
.user .name{
    margin-left: 10px;
    font-size: 1.1em;
}
.user{
    margin-bottom: 30px;
}
.post-content .text{
    margin-top: 20px;
    font-size: 0.8em;
}
.post-content .text a{
    color: inherit;
}
.post-content .images-box{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.post-content .images-box .image-wrap{
    flex: 1;
}
/* post section end */
/* MAIN SECTION end */

/* RIGHT ASIDE STYLES */
/* ads-block styles */
.ads-block{
    padding: 15px;
    font-size: 0.8em;
    text-align: center;
}
.ads-block p{
    margin-bottom: 15px;
}
.ads-block .title{
    margin-top: 15px;
    font-weight: bold;
}
.ads-block a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: rgb(207, 217, 224);
    width: 100%;
    padding: 10px;
}
.ads-block a:hover{
    background-color: lightgray;
}
.ads-block .figure{
    padding: 0 40px;
}
.ads-block .switch{
    display: flex;
}
.ads-block button{
    flex: 1;
    padding: 10px;
    border: none;
    color: white;
    font-weight: bold;
}
.ads-block button:hover{
    background-color: lightgray;
    cursor: pointer;
}
.ads-block .accept{
    background-color:rgb(140, 207, 140);
}
.ads-block .decline{
    background-color: rgb(255, 134, 134);
}
.ads-block.deep{
    padding: 30px;
}
.ads-block.bug{
    padding: 50px;
    font-size: 1.8em;
}
.ads-block.bug i{
    margin: 0;
}
/* ads-block end */
/* RIGHT ASIDE end */

/* FOOTER STYLES */
footer div{
    background-color: rgb(29, 133, 252);
    color: white;
    padding: 30px 20px;
}
footer .license{
    padding: 20px;
    background-color: rgb(0, 72, 155);
}
.license a{
    text-decoration: none;
    color: inherit;
}
/* FOOTER end */
@media screen and (max-width: 768px){
    aside.left, aside.right, main{
        float: none;
        width: 100%;
    }
    .container{
        width: 95%;
    }
    main section{
        margin: 0 0 15px 0;
    }
    .mob-hide{
        display: none;
    }
}